--index-url https://pypi.python.org/simple/

--editable https://github.com/RealVNF/common-utils@tnsm2021#egg=common-utils
--editable https://github.com/RealVNF/coord-sim@tnsm2021#egg=coord-sim

--editable .
